.section-sm {
  padding-top: var(--section-top, var(--gap-sm));
  padding-bottom: var(--section-bottom, var(--gap-sm));
}

.section-md {
  padding-top: var(--section-top, var(--gap-md));
  padding-bottom: var(--section-bottom, var(--gap-md));
}

.section-lg {
  padding-top: var(--section-top, var(--gap-lg));
  padding-bottom: var(--section-bottom, var(--gap-lg));
}
.section-xl {
  padding-top: var(--section-top, var(--gap-xl));
  padding-bottom: var(--section-bottom, var(--gap-xl));
}

.section-2xl {
  padding-top: var(--section-top, var(--gap-2xl));
  padding-bottom: var(--section-bottom, var(--gap-2xl));
  /* @media(--viewport-md) {
	padding-top: var(--section-top, var(--gap-2xl));
	padding-bottom: var(--section-bottom, var(--gap-2xl));
	} */
}

.section-3xl {
  padding-top: var(--section-top, var(--gap-3xl));
  padding-bottom: var(--section-bottom, var(--gap-3xl));
  /* @media(--viewport-md) {
	padding-top: var(--section-top, var(--gap-3xl));
	padding-bottom: var(--section-bottom, var(--gap-3xl));
	} */
}

.flow-v-xs {
  & > * + * {
    margin-top: var(--flow-xs);
  }
}

.flow-v-sm {
  & > * + * {
    margin-top: var(--flow-sm);
  }
}

.flow-v-md {
  & > * + * {
    margin-top: var(--flow-md);
  }
}

.flow-v-lg {
  & > * + * {
    margin-top: var(--flow-lg);
  }
}

.flow-v-xl {
  & > * + * {
    margin-top: var(--flow-xl);
  }
}

.flow-v-2xl {
  & > * + * {
    margin-top: var(--flow-2xl);
  }
}

.flow-v-3xl {
  & > * + * {
    margin-top: var(--flow-3xl);
  }
}

.flow-v-4xl {
  & > * + * {
    margin-top: var(--flow-4xl);
  }
}

.flow-v-5xl {
  & > * + * {
    margin-top: var(--flow-5xl);
  }
}

.flow-v-6xl {
  & > * + * {
    margin-top: var(--flow-6xl);
  }
}

.flow-2xs {
  margin-top: var(--flow-2xs);
}

.flow-xs {
  margin-top: var(--flow-xs);
}

.flow-sm {
  margin-top: var(--flow-sm);
}

.flow-md {
  margin-top: var(--flow-md);
}

.flow-lg {
  margin-top: var(--flow-lg);
}

.flow-xl {
  margin-top: var(--flow-xl);
}

.flow-2xl {
  margin-top: var(--flow-2xl);
}

.flow-3xl {
  margin-top: var(--flow-3xl);
}

.flow-4xl {
  margin-top: var(--flow-4xl);
}

.flow-5xl {
  margin-top: var(--flow-5xl);
}

.flow-6xl {
  margin-top: var(--flow-5xl);
  @media (--viewport-md) {
    margin-top: var(--flow-6xl);
  }
}

.flow-0 {
  margin-top: 0;
}

.align-items-center {
  align-items: center;
}