

<div class="container max-width-sm flow-v-md section-3xl">


			<h2>The Studio</h2>

			<p>The Sweet Strength Fitness & Wellness Studio offers ‘One on One Personal Training in well equipped, semi-private rooms. The attention is entirely on you, not on anything else. We encourage you to inquire about the benefits found in Linda’s Wellness and Nutrition Coaching personalized programs. While we specialize in working with fifty plus individuals, we are entirely equipped and eager to coach and train any adult of any age. We, also, work with our client’s teenagers and college students. Our passion is empowering you to reach your goals, all the while, serving you in a caring, safe, and fun environment, two minutes from Mount Pleasant’s Towne Centre and at the Isle of Palms Connector.</p>

			<p><mark>Every exercise program, any diet plan needs to be carefully designed, as everyone has different nutritional and physical needs and goals. We will help you develop routines and regimens that quickly become part of a new lifestyle. Breeze and Linda are in their early sixties, with over sixty years plus experience and education empowering people gain control over their health and wellness.</mark></p>

			<p><em>Linda says, “We are fitness and wellness experts that will empower you with the tools you need to succeed, because that is our job. We want you to know that you can be fit, enjoy life, and daily create happiness, while becoming stronger and energized. We are the only area studio that offers holistic, personalized coaching and training that is geared toward the fifty plus age group.”</em></p>

			<p><strong>Please call to make that first appointment; and let’s have a conversation centered on you your goals and your needs.</strong></p>

			<p><strong>(Linda) 843-455-5941 (Breeze) 843-270-7465</strong></p>


</div>






<style>
mark {
	font-weight: bold;
	background-color: var(--color-lite);
	font-size: var(--s1);
	line-height: 1.65;
	padding: 0 .25em;
	box-decoration-break: clone;
	/* color: var(--color-primary-dark); */
}
</style>
