---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, canonicalURL, hasHero } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} />
  </head>

  <body class={hasHero ? "page-hero" : ""}>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
